{{define "Constant"}}
{{- $Consts := .Constants.GoConstants}}
{{- if $Consts}}
const (
	{{- range $Consts}}
	{{InsertionPoint "constant" .Name}}
	{{- if and Features.ReserveComments .ReservedComments}}{{.ReservedComments}}{{end}}
	{{.GoName}} = {{.Initialization}}
	{{- end}}{{/* range $Consts */}}
	{{InsertionPoint "constants"}}
)
{{- end}}{{/* fi $Consts */}}

{{- $NonConsts := .Constants.GoVariables}}
{{- if $NonConsts}}
var (
	{{- range $NonConsts }}
	{{InsertionPoint "constant" .Name }}
	{{- if and Features.ReserveComments .ReservedComments}}{{.ReservedComments}}{{end}}
	{{.GoName}} = {{.Initialization}}
	{{- end}}
	{{InsertionPoint "variables"}}
)
{{- end}}
{{end}}{{- /* define "Constant" */ -}}
